body
{
  font-family: "Open Sans", sans-serif;
  background-color: #d1dbe4; 
  position: relative;
  padding-bottom: 180px;
  margin: 0px;
  min-height: calc(100dvh - 180px);
}

.Sidenav
{
  overflow-y: auto;
    width: 172px;
    background-color: #7593af;
    position: absolute;
    z-index: 0;
    top: 100px;
    bottom: 80px;
    left: 0;

    padding: 6px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 10px;

    text-align: center;
}

.Sidenav a {
  text-decoration: none;
  color: #3b3b3b;

  padding: 3px;
}

.SidenavButton {
  transition: 200ms;
  padding: 3px;
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 3px;

  background-color: aliceblue;

  font-size: 22px;
}

.SidenavButton:hover {
  transition: 250ms;
  padding: 6px;

  font-size: 26px;
}

.Container
{
  display: flexbox;
}

header
{
    width: 100%;
    height: 60px;
    background-color: #476f95;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 20px;
}

header a
{
  text-decoration: none;
  color: #3b3b3b;

  padding: 3px;
}

.HeaderButton {
  transition: 200ms;
  padding: 3px;
  width: fit-content;
  margin-left: 20px;
  
  margin-top: 21px;
  border-radius: 3px;

  background-color: aliceblue;

  font-size: 22px;
}

.HeaderButton:hover {
  transition: 250ms;
  padding: 3px;
  margin-top: 19px;

  font-size: 26px;
}

.Main
{
    margin-left: 15%;
    padding: 20px 20px;
    background-color: #7593af;
    margin-right: 15%;
    top: 100px;
    position: relative;

    border-radius: 4px;
}

.MainChapter
{
  background-color: aliceblue;
  justify-content: center;
  border-radius: 5px;
  margin: 5px;
  position: relative;
  z-index: 1;
}

.MainSelectionDiv
{
  position: relative;
  z-index: 0;
  transform: translateY(-45px);
  background-color: #a3b7ca;
  justify-content: center;
  border-radius: 5px;
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 5px;
}

.MainSubchapter
{
  background-color: aliceblue;
  justify-content: center;
  border-radius: 5px;
  margin: 5px;
  position: relative;
  z-index: 1;
}

.MainSelectionSubDiv
{
  position: relative;
  z-index: 0;
  transform: translateY(-35px);
  background-color: #a3b7ca;
  justify-content: center;
  border-radius: 5px;
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 5px;
}

.Main h1
{
  text-decoration: none;
  font-size: 50px;
  padding: 6px;
}

.Main h2
{
  text-decoration: none;
  font-size: 42px;
  padding: 6px;
}

.Main p1
{
  padding: 6px;
  text-decoration: none;
  font-size: 22px;
  display: block;
}

/* Footer Stuff */

footer
{
    width: 100%;
    height: 60px;
    background-color: #476f95;
    position: absolute;
    bottom: 0px;
    justify-content: center;
  align-items: center;
  display: flex;
  
}

footer h1
{
color:#a3b7ca;
text-decoration: none;
font-size: 12px;
text-align: center;
}
